contract_version=1
provider=auristor
os_family=el9
filesystem_type=auristorfs
config_path=/etc/yfs/yfs-client.conf
apache_user=apache
apache_group=apache
token_module_id=waklog_module
gssapi_module_id=auth_gssapi_module
client_package_nevra=yfs-2021.05-71.el9.REPLACE_ARCH
module_package_nevra=mod_waklog-yfs-2021.05-71.el9.REPLACE_ARCH
gssapi_source_sha256=7323affdba44ff560373c996b5eee8ac54fbb6067de5be8737c2f54c64c4e8e6
php_version=8.3.33
php_source_sha256=e293ed620cec74651bb4a071317892a478aa6840fab22db45c72d77cd42f9676
module_path=/usr/lib64/httpd/modules/mod_waklog.so
module_sha256=REPLACE_WITH_64_LOWERCASE_HEX
gssapi_module_path=/usr/lib64/httpd/modules/mod_auth_gssapi.so
gssapi_module_sha256=REPLACE_WITH_64_LOWERCASE_HEX
php_cli_path=/usr/local/bin/php
php_cli_sha256=REPLACE_WITH_64_LOWERCASE_HEX
php_module_path=/usr/lib64/httpd/modules/libphp.so
php_module_sha256=REPLACE_WITH_64_LOWERCASE_HEX
php_scan_dir=/usr/local/etc/php/conf.d
preflight_path=/usr/local/libexec/tinyfilemanager-auristor/provider-preflight
preflight_sha256=REPLACE_WITH_64_LOWERCASE_HEX
global_fragment_path=/etc/tinyfilemanager-auristor/provider-global.conf
global_fragment_sha256=REPLACE_WITH_64_LOWERCASE_HEX
enabled_fragment_path=/etc/tinyfilemanager-auristor/provider-enabled.conf
enabled_fragment_sha256=REPLACE_WITH_64_LOWERCASE_HEX
disabled_fragment_path=/etc/tinyfilemanager-auristor/provider-disabled.conf
disabled_fragment_sha256=REPLACE_WITH_64_LOWERCASE_HEX
rpm_manifest_path=/usr/share/tinyfilemanager-auristor/provider-rpms.txt
rpm_manifest_sha256=REPLACE_WITH_64_LOWERCASE_HEX
