.git
.git/**
/contrib/container/config.php
/contrib/haproxy/.env
/contrib/haproxy/authorized-users
/contrib/haproxy/config.php
/contrib/haproxy/http.keytab
/contrib/haproxy/keytab/
/contrib/haproxy/krb5.conf
/contrib/haproxy/tls.crt
/contrib/haproxy/tls.key
/contrib/haproxy/*.ccache
/contrib/haproxy/*.crt
/contrib/haproxy/*.key
/contrib/haproxy/*.keytab
/contrib/haproxy/*.p12
/contrib/haproxy/*.pem
/contrib/haproxy/*.pfx
/contrib/haproxy/krb5cc_*
/contrib/afs/.env
/contrib/afs/.env.*
/contrib/afs/authorized-users
/contrib/afs/config.php
/contrib/afs/keytab/
/contrib/afs/krb5.conf
/contrib/afs/openafs/
/contrib/afs/tls.crt
/contrib/afs/tls.key
/contrib/afs/*.ccache
/contrib/afs/*.key
/contrib/afs/*.keytab
/contrib/afs/*.p12
/contrib/afs/*.pem
/contrib/afs/*.pfx
/contrib/afs/krb5cc_*
