.git
.git/**
/contrib/container/config.php
/contrib/haproxy/.env
/contrib/haproxy/authorized-users
/contrib/haproxy/config.php
/contrib/haproxy/http.keytab
/contrib/haproxy/keytab/
/contrib/haproxy/krb5.conf
/contrib/haproxy/tls.crt
/contrib/haproxy/tls.key
/contrib/haproxy/*.ccache
/contrib/haproxy/*.crt
/contrib/haproxy/*.key
/contrib/haproxy/*.keytab
/contrib/haproxy/*.p12
/contrib/haproxy/*.pem
/contrib/haproxy/*.pfx
/contrib/haproxy/krb5cc_*
