global
    log stdout format raw local0
    maxconn 256

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5s
    timeout client 5m
    timeout server 5m
    timeout check 3s

resolvers docker
    nameserver docker 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

frontend tinyfilemanager_tls
    bind :8443
    default_backend tinyfilemanager_backend

backend tinyfilemanager_backend
    option tcp-check
    server tinyfilemanager tinyfilemanager:8443 check resolvers docker init-addr last,libc,none
