/authorized-users
/config.php
/http.keytab
/keytab/
/krb5.conf
/openafs/
/tls.crt
/tls.key
/.env
/.env.afs
/.env.auristor
/.env.non-afs
/yfs-client.conf
/auristor-provider/
/auristor-runtime-rpms/
/auristor-build-rpms/
/provider-inputs/
/source-archives/
/*.rpm
/*.tar.*
/*.crt
/*.key
/*.keytab
/*.p12
/*.pem
/*.pfx
/krb5cc_*
*.ccache
